#implicitwait-button{ 
  list-style-image: url("implicitwait.png");
  -moz-image-region: rect(0px 18px 16px 0px);
}
#implicitwait-button[checked="true"]{ 
  -moz-image-region: rect(16px 18px 32px 0px);
  background-color: rgba(225, 225, 225, 0.3);
}